.mobile-menu-container {
  height: 100%;
  width: 100%;
  display: flex; 
  flex-direction: column;
}

.mobile-menu-header {
  width: 100%;
  height: 48px;
  display: grid;
  grid-template-columns: 48px 1fr 48px; 
  align-items: center;
  justify-items: center;
}

.mobile-menu-name {
  grid-column: 2/3;
}

.mobile-menu-close {
  grid-column: 3/4;
  height: 65%;
}

.mobile-menu-close:hover{
  height: 85%;
}

.mobile-menu-option {
  text-align: center;
}

.mobile-menu-option:hover {
  background-color: skyblue;
}
