* {
  margin: 0;
  padding: 0;
}

.drop-down-menu-container {
  width: fit-content;
}

.drop-down-menu-container div {
  border: 1px solid black;
  text-align: left;
}

.drop-down-menu-container div:hover {
  background-color: skyblue;
}

.drop-down-menu-name {
  width: fit-content;
}

.drop-down-menu-option{
  width: 100%;
}

.invisible {
  display: none;
}

a {
  display: block;
  text-decoration: none;
  color: black;
  margin-left: 0;
  width: 100%;
}